/* link to import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans:wght@300&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: black;
    letter-spacing: .3px;
}

/* headings */

h1, h2 {
    font-family: 'Libre Baskerville', serif;
}

/* header styling */

header {
    vertical-align: middle;
    margin: 25px;
    padding-bottom: 35px;
}

#page-name {
    float: left;
    font-size: 200%;
}

#menu {
    float: right;
    font-size: 125%;
}

#menu li {
    float: left;
    list-style-type: none;
    margin: 0 25px;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    font-weight: bold;
}

.active {
    font-weight: bold;
}

/* text sections styling */

#penguin-facts, #penguin-size, #penguin-science {
    clear: left;
    margin-left: 1%;
    padding: 25px 0 25px 25px;
    width: 52%;
    float: left;
}

#penguin-science {
    margin-bottom: 80px;
}

.facts {
    padding: 15px 0 0 0;
}

p, tr, .facts li {
    line-height: 1.5;
}

table {
    width: 65%;
    padding: 7.5px;
}

th, td {
    text-align: center;
    padding: 1px 10px;
}

.facts li {
    list-style-type: none;
}

#science-data li {
    padding: 5px 0;
}


/* image styling */

.image-box {
    padding: 15px;
    float: right;
    width: 35%;
    display: inline;
    overflow: hidden;
    margin-right: 2%;
    margin-bottom: 80px;
}

.image-section {
    margin-bottom: 25px;
}

#chinstrap-penguins, #little-blue-penguin, #feed-chick {
    width: 100%;
}

.image-caption {
    padding: 10px 0;
}

footer {
    position: fixed;
    bottom: 0;
    height: 75px;
    width: 100%;
}

footer ul {
    text-align: center;
}

footer li {
    display: inline;
    font-size: 150%;
}

footer i {
    color: black;
    margin: 1.25%;
}

/* video styling */

#penguin-video {
    clear: left;
    margin-left: 1%;
    padding: 25px 0 25px 25px;
    width: 52%;
    float: left;
}

video {
    width: 100%;
}