/* link to import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans:wght@300&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: black;
}

/* headings */

h1, h2 {
    font-family: 'Libre Baskerville', serif;
}

/* header styling */

header {
    vertical-align: middle;
    margin: 20px;
}

#page-name {
    float: left;
    font-size: 200%;
}

#menu {
    float: right;
    font-size: 120%;
}

#menu li {
    float: left;
    list-style-type: none;
    margin: 0 15px;
}

