/* link to import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans:wght@300&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: black;
    letter-spacing: .3px;
}

/* headings */

h1, h2 {
    font-family: 'Libre Baskerville', serif;
}

/* header styling */

header {
    vertical-align: middle;
    margin: 25px;
    padding-bottom: 35px;
}

#page-name {
    float: left;
    font-size: 200%;
}

#menu {
    float: right;
    font-size: 125%;
}

#menu li {
    float: left;
    list-style-type: none;
    margin: 0 25px;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    font-weight: bold;
}

.active {
    font-weight: bold;
}

#penguin-facts {
    clear: left;
    margin-left: 25px;
    padding: 25px;
    width: 60%;
    border: 1px solid black;
}

.facts {
    padding: 15px 0 0 0;
}

p {
    line-height: 1.5;
}